@import url(./layout.css);

header img {
    width: 30px;
    padding-bottom: 3em;
    padding-top: 2em;

}

main a {
  float: left;
  padding-right: 1em;
}


h1{
   font-size:30px;
   text-align: center;
   padding-top: 1em;
}

.lorem{
    text-align: left;
    margin-top: 5em;
    margin-right: 10em;
    padding-bottom: 1em;
}

header{
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em
}
#aside-option-2
{
    display: left;
    border: 1px solid black;
}